/* 全局样式 */
@import '/css/framework/base.css';

@import '/css/animation/showup.css';

/*主要内容*/

/*欢迎区域样式*/
.hero-section {
  max-width: 125rem;
  margin-left: auto;
  margin-right: auto;
  height: 31.25rem;
  width: 100%;
  align-content: center;
  text-align: center;
  padding-bottom: 2.5rem;
  font-size: 1.5rem;
  background-size: cover;
  background-image: url("/pic/IMG_0001.jpg");
  background-position-y: center;
  animation: h-showup 2s ease-in-out;
}

.hero-section h1 , .hero-section p {
  background-color: rgba(0, 0, 0, 0.5);
} 

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  font-weight: normal;
  color: red;
}

.hero-section p {
  font-size: 1.125rem;
  font-weight: bold;
  color: red;
}

/* 高效办事区域样式 */
.efficient-service-section {
  padding: 1.875rem 1.25rem 3.125rem;
  text-align: center;
}

.efficient-service-section h2 {
  font-size: 2.25rem;
  font-weight: normal;
  color: white;
  padding-bottom: 1.25rem;
}

.efficient-service-section p {
  font-size: 1rem;
  color: white;
  margin-bottom: 1.25rem;
}

.service-categories {
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.125rem;
  background-color: #242424;
  border-radius: 0.5rem;
}

.service-categories span {
  padding: 0.9375rem;
  align-self: stretch;
  cursor: pointer;
  background-color: #242424;
  border-radius: 0.5rem;
}

.service-categories span:hover {
  background-color: red;
}

.service-lists {
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  background-color: #242424;
}

.service-list ul li:hover {
  background-color: #323232;
}

.service-list {
  max-width: 18.75rem;
  margin-top: 1.875rem;
  width: 23%;
  text-align: left;
}

.service-list h3 {
  color: red;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #707070;
}

.bottom-red-line {
  width: 50%;
  height: 0.1875rem;
  position: relative;
  top: -0.125rem;
  background-color: red;
}

.service-list ul {
  list-style-type: none;
}

.service-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #707070;
}

.number-box {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  background-color: red;
  margin: 0.625rem 0.625rem;
}

.number {
  font-size: 1.5rem;
  margin: auto;
  color: white;
  cursor: pointer;
}


.logo-item {
  font-size: 1.5rem;
  color: red;
  margin: 0.625rem 0.625rem;
  cursor: pointer;
}

.service-desc {
  display: block;
  line-height: 1.4;
  font-size: 0.75rem;
  cursor: pointer;
}

.service-name .service-content {
  font-size: 0.5rem;
}

/* 要闻专栏区域样式 */
.news-column-section {
  max-width: 125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3.125rem 1.25rem;
  text-align: center;
}

.section-title {
  display: grid;
  grid-template-columns: minmax(3.125rem, 1fr) auto minmax(3.125rem, 1fr);;
  padding: 1.875rem;
  font-size: 2.25rem;
  font-weight: normal;
  color: white;
  margin-bottom: 1.25rem;
  text-align: center;
  align-items: center;
}

.section-title::before {
  content: '';
  height: 0.0625rem;
  width: 95%;
  background-color: #383838
}

.section-title::after {
  content: '';
  position: relative;
  left: 5%;
  width: 95%;
  height: 0.0625rem;
  background-color: #383838
}

.news-banner {
  height: 12.5rem;
  overflow: hidden;
  margin-bottom: 1.875rem;
  border-radius: 0.5rem;
  background-color: #242424;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news-content {
  display: flex;
  justify-content: space-between;
}

.newsPhoto-box{
  width: 64%;
  text-align: left;
  padding: 1.25rem;
  padding-top: 3.75rem;
  overflow: hidden;
  background-color: #242424;
  border-radius: 0.5rem;
}

.photo-slider {
  width: auto;
  height: 25rem;
  position: relative;
  border-radius: 0.5rem;
}

.slider-wrapper {
  display: flex;
  width: 300%; /* 假设3张照片 */
  animation: slide 15s infinite; /* 动画效果 */
}

.img-box {
  display: flex;
  justify-content: center;
  width: 33.3333333%; /* 假设3张照片 */
  height: 25rem;
}

.slider-img {
  height: 100%;
  width: auto;
  transition: all 0.1s ease;
  box-shadow: 0.625rem 0.625rem 0.625rem white;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  22% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-33.3333%);
  }
  55% {
    transform: translateX(-33.3333%);
  }
  66% {
    transform: translateX(-66.6666%);
  }
  88% {
    transform: translateX(-66.6666%);
  }
  100% {
    transform: translateX(0);
  }
}

.newsPhoto-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 0.625rem;
  list-style: none;
}

.img-index {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.3125rem;
  cursor: pointer;
}

.photo-title {
  width: 100%;
  height: 2.9375rem;
  margin-top: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.title-text {
  color: #fff;
  font-size: 1rem;
}

.news-list {
  width: 30%;
  text-align: left;
  padding: 1.25rem;
  background-color: #242424;
  border-radius: 0.5rem;
}

.news-list-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.9375rem;
  border-bottom: 0.125rem solid #444;
  padding-bottom: 0.3125rem;
}

.news-items {
  list-style-type: none;
  padding: 0;
}

.news-item {
  margin-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #333;
  display: flex;
  align-items: center;
}

.news-date {
  color: #999;
  font-size: 0.875rem;
  margin-right: 0.9375rem;
  min-width: 5rem;
}

.news-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.news-link:hover {
  color: #ff0000;
}

/* 信息公开区域样式 */
.information-disclosure-section {
  max-width: 125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3.125rem 1.25rem;
}

  
.section-title-1{
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.25rem;
  text-align: left;
}

.policy-interpretation {
  display: flex;
}

.show-sth{
  width: 50%;
  text-align: left;
  padding: 1.25rem;
  background-color: #242424;
  border-radius: 0.5rem;

}
.policy-box-first{
  margin-right: 0.5rem;
  margin-left: 1.875rem;
}

.interpretation-box {
  width: 95%;
  height: 75%;
  background-color: #323232;
}

.policy-box {
  background-color: #242424;
  margin-right: 0.625rem;
  width: 10.5%;
  height: 23.75rem;
}

/* 特色栏目区域样式 */
.feature-section {
  max-width: 125rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
  padding: 3.125rem 1.25rem;
  text-align: center;
}

/* 用于包裹特色栏目模块的容器样式 */
.feature-modules {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem;
}

.feature-item {
  background-color: #242424;
  width: 23%;
  height: 9.375rem;
}

/* 服务统计区域样式 */
.service-statistics-section {
  max-width: 125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3.125rem 1.25rem;
  text-align: center;
  font-size: 1.125rem;
  background-color: #141414;
}

.service-statistics-section h2 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 3.125rem;
}

.statistic-items {
  display: flex;
}

.statistic-box {
  width: 10%
}

.statistic-item {
  margin-top: 2.5rem;
  display: inline-block;
  width: 48%;
  margin-bottom: 1.875rem;
}

.statistic-number {
  margin-bottom: 1.875rem;
  font-size: 5rem;
  color: red;
}

.vertical-line {
  border-left: 0.0625rem solid #424242;
  height: 8.4375rem;
  margin: 1.25rem 1.25rem;
}