/* 全局样式 */
@import '/css/framework/base.css';

@import '/css/animation/showup.css';

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fa0606;
}

.logo {
    font-size: 18px;
}

.titile {
    text-align: center;
    color: red;
    margin: 0 auto;
}

.titile h1 {
    font-size: 50px;
}

.tabs {
    max-width: 87.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tab{
    text-align: center;
    align-items: center;
}

.tab button {
    height: 60px;
    width: 150px;
    text-align: center;
    background-color: #000;
    color: white;
    border: none;
}

.tab-content {
    background-color: #111;
    max-width: 87.5rem;
    margin: 0 auto;
    text-align: center;
    
    /* 这里先用height撑大，具体内容写上后再调 */
}

.upload-section {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
  }
  
  .upload-box {
    border: 2px dashed red;
    padding: 50px;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
  }
  
  .icon-placeholder {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .download-section {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
  }
  
  .file-item {
    border: 1px solid red;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .file-info {
    font-size: 12px;
  }
  
  button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
  }
  
  