* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #111;
}

.logo {
  font-size: 18px;
}



.banner {
  text-align: center;
  padding: 50px 0;
  background-color: #333;
}

.category {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #444;
  color: red;
}

.upload-section {
  text-align: center;
  padding: 50px 0;
  background-color: #333;
}

.upload-box {
  border: 2px dashed red;
  padding: 50px;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

.icon-placeholder {
  font-size: 24px;
  margin-bottom: 10px;
}

.download-section {
  text-align: center;
  padding: 50px 0;
  background-color: #333;
}

.file-item {
  border: 1px solid red;
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.file-info {
  font-size: 12px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
}

