/* 侧边栏样式 */
aside {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    background-color: transparent;
    animation: sidebar-button-showup 0.5s ease-in-out;
}
  
#aside-collapsed {
    animation: sidebar-button-collapse 0.5s ease-in-out;
    translate: 6.25rem;
}
  
/* 侧边栏展开收起 */
@keyframes sidebar-button-showup {
    0% {
      translate: 6.25rem;
    }
    100% {
      translate: 0rem;
    }
}
  
@keyframes sidebar-button-collapse {
    from {
      translate: 0;
    }
    to {
      translate: 6.25rem;
    }
}
  
.sidebar-button {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0.3125rem;
    margin-bottom: 0.125rem;
    align-items: center;
    width: 100%; 
    cursor: pointer;
    border: 0.0625rem solid transparent;
    color: red;
    font-size: 0.75rem;
    background-color: #242424;
    transition: all 0.3s;
}
  
#top-button {
    margin-top: auto;
}
  
#collapse-button {
    display: flex;
    align-items: center;
    margin-bottom: auto;
}
  
#sidebar-gotop {
    margin-top: auto;
    display: none;
}
  
.sidebar-button-text {
    height: 0.625rem;
    margin-top: 0.3125rem;
}
  
.OA-LOGO {
    height: 1.875rem;
    width: 1.875rem;
    margin-right: 0.625rem;
    font-size: 1.5625rem;
    color: white
}